server:
  port: 8888
spring:
  profiles:
    active: native #Đọc file cấu hình từ filesystem hoặc classpath không dùng Git hay SVN.
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations #Đường dẫn đến thư mục chứa file cấu hình.